services:
  bixportal:
    container_name: bixportal
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_PORTAL_BASE_URL: ${NEXT_PUBLIC_PORTAL_BASE_URL}
        NEXT_PUBLIC_API_BASE_URL: ${NEXT_PUBLIC_API_BASE_URL}
        NEXT_PUBLIC_CORS_ORIGIN: ${NEXT_PUBLIC_CORS_ORIGIN}
        NEXT_PUBLIC_MODE: ${NEXT_PUBLIC_MODE}
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - HOSTNAME=0.0.0.0
    env_file:
      - .env.production